@import "module/variables";
@import "module/component";
html,
body {
    height: 100%;
}

body {
    font-size: 1.2em;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    @media #{$laptops} {
        font-size: 1em;
    }
    @media #{$col-sm} {
        font-size: 1em;
    }
}

aside {
    position: fixed;
    background: linear-gradient(0deg, #051127, #0b1931);
    width: $asideWidth;
    height: calc(100% - #{$headHeight});
    left: 0;
    top: $headHeight;
    transition: all 200ms;
    @media #{$laptops} {
        width: $asideWidth-laptops;
    }
    @media #{$col-sm} {
        position: fixed;
        z-index: 1020;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
        width: $asideWidth-xs;
        overflow: hidden;
    }
    &.active {
        width: 0;
        overflow: hidden;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            height: 100px;
            @media #{$col-sm} {
                height: $asideWidth-xs;
            }
            a {
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-decoration: none !important;
                .pic {
                    position: relative;
                    .badge {
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: block;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: nth($colors, 1);
                        font-size: em($fz + 3);
                    }
                    i {
                        display: inline-block;
                        @media #{$col-sm} {
                            transform: scale(0.8);
                        }
                        &.icon {
                            &.icon-chart {
                                width: 40px;
                                height: 36px;
                                background: url(../img/icon-chart.png) no-repeat;
                            }
                            &.icon-message {
                                width: 40px;
                                height: 36px;
                                background: url(../img/icon-message.png) no-repeat;
                            }
                            &.icon-billing {
                                width: 46px;
                                height: 36px;
                                background: url(../img/icon-card.png) no-repeat;
                            }
                        }
                    }
                }
                p {
                    margin-top: 0px;
                    color: #acb4c1;
                    font-size: em($fz);
                    margin-bottom: 0;
                }
                &:hover,
                &.active {
                    position: relative;
                    background: linear-gradient(0deg, #061639, #122951);
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 4px;
                        height: 100%;
                        background: linear-gradient( 0deg, #00a0f7 0%, #00b4f9 43%, #20c1ff 61%, #00cbfb 100%);
                    }
                    .pic {
                        i {
                            &.icon {
                                &.icon-chart {
                                    background: url(../img/icon-chart-active.png) no-repeat;
                                }
                                &.icon-message {
                                    background: url(../img/icon-message-active.png) no-repeat;
                                }
                                &.icon-billing {
                                    background: url(../img/icon-card-active.png) no-repeat;
                                }
                            }
                        }
                    }
                    p {
                        color: nth($colors, 1);
                    }
                }
            }
        }
    }
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: $headHeight;
    background: linear-gradient(0deg, #152439, #18273e);
    border-bottom: 1px solid nth($colors, 4);
    border: none;
    margin: 0;
    padding-left: $asideWidth;
    z-index: 1020;
    @media #{$laptops} {
        padding-left: $asideWidth-laptops;
    }
    @media #{$col-sm} {
        padding-left: 0;
        border: none;
    }
    .navbar-collapse {
        width: 100%;
        display: flex !important;
        align-items: center;
        border-bottom: 1px solid #324b69;
        @media #{$col-sm} {
            border-top: none;
        }
        .h-left {
            display: flex;
            align-items: center;
            padding: 0 15px;
            a {
                position: relative;
                height: calc(#{$headHeight});
                display: flex;
                align-items: center;
            }
            a+a {
                padding: 0 20px;
            }
            .title {
                color: #fff;
                margin: 0;
                font-size: em($fz + 12px);
                font-weight: bold;
                @media #{$col-sm} {
                    margin-left: 20px;
                }
            }
        }
        .h-right {
            margin-left: auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$col-sm} {
                padding: 0 6px;
            }
            a {
                @media #{$laptops} {
                    font-size: 15px;
                    padding: 5px 15px;
                    width: initial;
                    display: flex !important;
                    padding: 0;
                    margin-right: 20px;
                    i {
                        transform-origin: center center;
                        transform: scale(.8);
                        margin: 0;
                    }
                }
                @media #{$col-sm} {
                    margin-right: 12px !important;
                }
                &.btn-gradient-main {
                    @media #{$laptops} {
                        font-size: 15px;
                        padding: 5px 15px;
                        width: initial;
                        display: flex !important;
                        margin-right: 0;
                        i {
                            transform-origin: center center;
                            transform: scale(.8);
                            margin: 2px;
                        }
                    }
                    @media #{$col-sm} {
                        padding: 5px 8px;
                        width: initial;
                    }
                }
            }
        }
    }
    .h-aside {
        width: $asideWidth;
        height: $headHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, #051127, #0b1931);
        position: absolute;
        left: 0;
        @media #{$laptops} {
            width: $asideWidth-laptops;
        }
        @media #{$col-sm} {
            position: relative;
            width: $asideWidth-xs;
            display: none;
        }
        .logo {
            background: url(../img/logo.png);
            width: 29px;
            height: 42px;
        }
    }
}

main {
    padding-top: $headHeight;
    margin-left: $asideWidth; // height: calc(100% - #{$headHeight} - #{$mainTopHeight});
    &.active {
        margin-left: 0;
    }
    @media #{$laptops} {
        margin-left: $asideWidth-laptops;
    }
    @media #{$col-sm} {
        margin-left: 0;
    }
    .m-top {
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, #152439, #18273e);
        height: $mainTopHeight;
        @media #{$laptops} {
            height: $mainTopHeight-laptops;
        }
        @media #{$col-sm} {
            display: block;
            height: initial;
            padding: 12px 0;
        }
        .mr-auto {
            margin-left: 30px;
            margin-right: auto;
            @media #{$col-sm} {
                margin-left: 15px;
            }
            .title {
                margin: 0;
                color: #fff;
                font-size: em($fz + 33px);
                font-weight: bold;
                .sub-title {
                    font-size: em(($fz + 7px) / 2.6);
                    font-weight: normal;
                }
            }
        }
        .ml-auto {
            margin-left: auto;
            margin-right: 60px;
            @media #{$col-sm} {
                margin-right: 0;
                margin-top: 12px;
            }
            .stockValue {
                display: flex;
                @media #{$col-sm} {
                    padding: 0 15px;
                }
                .item+.item {
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 1px;
                        height: 60px;
                        background: nth($colors, 4);
                    }
                }
                .item {
                    position: relative;
                    padding: 20px 60px;
                    @media #{$col-sm} {
                        padding: 0;
                        width: calc(100% / 3);
                        text-align: center;
                    }
                    .subText {
                        font-size: em($fz + 6px);
                        color: #74a1d3;
                    }
                    .num {
                        font-size: em($fz + 25px);
                        color: #fff;
                        @media #{$col-sm} {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        i {
                            @media #{$col-sm} {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .m-main {
        display: flex;
        align-items: stretch;
        @media #{$col-sm} {
            display: block;
        }
        &:after {
            content: "";
            clear: both;
            display: block;
        }
        .chart {
            float: left;
            width: calc(100% - #{$stockValue2Width});
            @media #{$laptops} {
                width: calc(100% - #{$stockValue2Width-laptops});
            }
            @media #{$col-sm} {
                width: 100%;
                float: initial;
            }
        }
        .stockValue2 {
            float: left;
            width: $stockValue2Width;
            background: linear-gradient(#061633, #0e2343);
            padding: 0 2%;
            overflow-x: hidden;
            overflow-y: visible;
            @media #{$laptops} {
                width: $stockValue2Width-laptops;
            }
            @media #{$col-sm} {
                width: 100%;
                float: initial;
                padding: 0 20px;
            }
            .panel-group {
                margin-top: 40px;
                .panel-heading {
                    display: flex;
                    padding: 0;
                    margin-bottom: 20px;
                    .mr-auto {
                        .sub-title {
                            color: #fff;
                            font-size: em($fz + 10px);
                        }
                        .title {
                            margin: 0;
                            margin-top: 6px;
                            color: nth($colors, 5);
                            font-size: em($fz + 42px);
                        }
                    }
                    .ml-auto {
                        color: #fff;
                        text-align: right;
                        display: flex;
                        flex-direction: column;
                        align-items: bottom;
                        .sub-title {
                            border-radius: 25px;
                            border: 1px solid nth($colors, 4);
                            padding: 5px 20px;
                            font-size: em($fz + 6px);
                            color: nth($colors, 4);
                            background: inherit;
                        }
                        .num {
                            margin-top: 6px;
                            font-size: em($fz + 21px);
                            color: #b7d7fb;
                        }
                    }
                }
                .panel-body {
                    padding: 0;
                    .list {
                        padding-left: 0;
                        border-top: 1px solid #1d3352;
                        li {
                            padding: 20px 0;
                            display: flex;
                            align-items: center;
                            color: #fff;
                            border-bottom: 1px solid #1d3352;
                            .title {
                                font-size: em($fz + 6px);
                            }
                            .num {
                                font-size: em($fz + 12px);
                                display: flex;
                                align-items: center;
                                .numLabel {
                                    border-radius: 25px;
                                    font-size: em(($fz+1px)/2);
                                    border: 1px solid nth($colors, 5);
                                    color: nth($colors, 5);
                                    padding: 2px 12px;
                                    margin-left: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.l-main {
    padding-left: 2%;
    padding-right: 2%;
    .l-main-header {
        .title {
            font-weight: bold;
            font-size: em($fz+27);
        }
    }
    .l-main-body {
        padding-bottom: 18%;
    }
    .l-main-foot {
        position: fixed;
        bottom: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid #d5d5d5;
        width: calc(100% - #{$asideWidth});
        height: 117px;
        padding: 0 2%;
        @media #{$laptops} {
            width: calc(100% - #{$asideWidth-laptops});
        }
        @media #{$col-sm} {
            width: 100%;
            height: initial;
        }
        .d-flex {
            margin-top: 20px;
            @media #{$col-sm} {
                display: block;
                text-align: right;
            }
            .ml-auto {
                @media #{$col-sm} {
                    padding: 12px 0;
                }
                ul {
                    margin: 0;
                    li {
                        a {
                            margin: 0 6px;
                        }
                    }
                }
            }
        }
    }
}

// d3js
// 長條圖
#longBarChart {
    display: block;
    width: 100%;
    height: 300px;
    min-width: 300px; // max-width: 1200px;
    max-height: 200px;
    overflow: hidden;
    .domain {
        stroke: #48678b;
    }
    #xAxis {
        .tick {
            text {
                fill: #fff;
                stroke: none;
            }
        }
    }
    .tick {
        line {
            stroke: #48678b;
        }
        text {
            fill: #abd2ff;
            stroke: none;
        }
    }
}

// k棒
#Candlestick {
    display: block;
    width: 100%;
    height: 500px;
    min-width: 300px; // max-width: 1230px;
    max-height: 600px;
    overflow: hidden;
    .domain {
        stroke: #48678b;
    }
    .tick {
        text {
            fill: #abd2ff;
            stroke: none;
        }
    }
    #xAxis {
        .tick {
            text {
                fill: #fff;
                stroke: none;
            }
        }
    }
}

// 儀錶板
#speedometer {
    .label {
        text {
            fill: #657180;
            font-size: 13px;
        }
    }
}

#speedometer2 {
    .label {
        text {
            fill: #657180;
            font-size: 13px;
        }
    }
}

.circular-breath {
    animation: breath 1s linear infinite alternate;
    r: 10;
}

@keyframes breath {
    100% {
        r: 16;
    }
}