@import 'bourbon';
$colors:#45baf7,
#132035,
#1C2A3F,
#4b6f99,
#ffe451,
#ff0000;
$basicColor:#0099ff;
$stockValue2Width:490px;
$asideWidth:152px;
$headHeight:70px;
$mainTopHeight:110px;
$fz:15px;
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-40 {
    margin-right: 40px;
}

.d-flex {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.text-red {
    color: nth($colors, 6);
}

.text-blue {
    color: nth($colors, 1);
}

.text-gold {
    color: nth($colors, 5);
}

.icon {
    display: inline-block;
    &.icon-menu {
        width: 23px;
        height: 17px;
        background: url(../img/icon-menu.png) no-repeat;
    }
    &.icon-search {
        width: 23px;
        height: 23px;
        background: url(../img/icon-search.png) no-repeat;
    }
    &.icon-power {
        width: 21px;
        height: 23px;
        background: url(../img/icon-power.png) no-repeat;
    }
    &.icon-bell {
        width: 19px;
        height: 27px;
        background: url(../img/icon-bell.png) no-repeat;
    }
    &.icon-setting {
        width: 27px;
        height: 27px;
        background: url(../img/icon-setting.png) no-repeat;
    }
    &.icon-user {
        width: 21px;
        height: 27px;
        background: url(../img/icon-user.png) no-repeat;
    }
    &.icon-fall {
        width: 35px;
        height: 20px;
        background: url(../img/icon-fall.png) no-repeat;
    }
    &.icon-rise {
        width: 35px;
        height: 20px;
        background: url(../img/icon-rise.png) no-repeat;
    }
}

.btn-gradient-main {
    position: relative;
    background: linear-gradient(0deg, #00a0f7 0%, #00b4f9 43%, #20c1ff 61%, #00cbfb 100%);
    font-size: em($fz + 7px);
    color: #fff;
    border-radius: 99px;
    width: 140px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    i {
        margin-right: 6px;
    }
    &:hover {
        background: linear-gradient(0deg, #009EF3, #00CBF9);
        color: #fff;
    }
}